MONGODB_URL=mongodb+srv://gustty75rj_db_user:enjuzPLteAvHenSn@cluster0.ywdj48w.mongodb.net/meubanco?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=uma-string-longa-e-aleatoria
PORT=3000
NODE_ENV=development
CORS_ORIGIN=*